
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div style="text-align:center;line-height:2;font-weight:bold">
    <h2>Đơn hàng đã được chúng tôi lưu lại và xử lý. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất.</h2>
    <h2>Cam kết giao hàng đúng hẹn!!! Xin cảm ơn!!!</h2>

</div>
<div align="center">
    <p style="font-size:20px;font-style:normal;font-weight:bold;background-color:green;border-radius:20px;padding:20px;width:20%;text-align:center">

        @Html.ActionLink("Về trang chủ", "Index", "RauShop")

    </p>
</div>
