
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}




<center>
    <div  style="height:100px; margin-top:60px;"><span style="text-align: center;font-size:25px;font-weight:bold;color:white; background-color: green;background-size:50px;border-radius:15px;padding :15px">Về chúng tôi</span></div>
</center>
<justify>
    <p></p>
    <div style="padding-left:30px;padding-right:30px;line-height:2;text-indent: 35px">
        <p >
            Với hiện trạng rau quả hiện nay đang bị nhiễm bẩn với đủ các loại hóa chất và dư lượng thuốc bảo vệ thực vật vượt quá mức cho phép nhiều lần, cũng như việc rau xanh được người nông dân tưới bằng nguồn nước thải ô nhiễm,
            thời gian qua không ít người nội trợ lo lắng cho sức khỏe của các thành viên trongđình khi phải ăn rau nhiểm bẩn.
        </p>
        <p >
            Mọi người có xu hướng thay đổi thói quen chọn lựa thực phẩm, từ rau xanh mướt sang các loại rau trông xấu mã và già để đảm bảo an toàn hơn.
           
        </p>
        <p >
            Để đáp ứng nhu cầu ngày càng lớn nguồn cung cấp rau củ sạch an toàn, SHK shop đã ra đời.
            Chúng tôi sẽ cung cấp cho bạn nguồn thực phẩm an toàn với số lượng lớn, phong phú như Rau ăn lá, Rau ăn củ quả, Rau gia vị,củ, quả...
        </p>
        <p > Bạn sẽ không phải lo lắng về việc lựa chọn thực phẩm cho bữa ăn hằng ngày bởi đã có chúng tôi SHK shop</p>
        <p ><a href="http://SHKshop.vn" style="color:blue;">SHKshop.vn</a> rất hân hạnh được đồng hành cùng bạn tạo ra vườn rau sạch tại nhà vừa ngon vừa an toàn cho sức khỏe.</p>
    </div>
</justify>