

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="height:100px;font-weight:bold;text-align:center; margin-top:60px;"><span style="text-align: center;font-size:25px;color:white; background-color: green;background-size:50px;border-radius:15px;padding :15px">Đăng nhập</span></div>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="col-md-3"></div>
            <div class="col-md-6 check-name">
               
                <div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                             
                            <div class="col-sm-12">
                                
                                <input id="TenDN" name="TenDN" type="text" class="form-control" placeholder="Tên đăng nhập">
                                
                                   
                                    @ViewData["Loi1"]
                               
                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <input id="Matkhau" name="Matkhau" type="password" class="form-control" placeholder="Mật khẩu">
                                @*@Html.Password("Matkhau")*@
                                @ViewData["Loi2"]
                            </div>
                        </div>
                    </form>
                    <a href="#" style="color:darkblue">Quên mật khẩu?</a>
                    <br>

                    <tr>
                        <td></td>
                        <td >
                            
                            <input type="submit" value="Đăng nhập" style="height:40px;background-color:green;color:black;border-radius:10px;padding:10px"/>
                        </td>
                    </tr>

                </div>
                <div class="col-md-3"></div>
            </div>



           

        }







