
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href="~/TemplateAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/TemplateAdmin/css/font-awesome.min.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/TemplateAdmin/css/endless.min.css" rel="stylesheet">

</head>

<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h2 class="fadeInUp animation-delay8" style="font-weight:bold">
                <span class="text-success">SHK</span> <span style="color:#ccc; text-shadow:0 1px #fff">Admin</span>
            </h2>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Login
                    </div>

                    
                </div>
                <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <form class="form-login">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username"placeholder="Username" class="form-control input-sm bounceIn animation-delay2">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control input-sm bounceIn animation-delay4">
                        </div>
                        @ViewData["Loi"]
                        @ViewBag.Thongbao
                        <div class="seperator"></div>
                        <hr/>

                        <input type="submit" name="login" class="login login-submit" value="Login">
                    </form>
                }
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/TemplateAdmin/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/TemplateAdmin/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr -->
    <script src='~/TemplateAdmin/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/TemplateAdmin/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/TemplateAdmin/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/TemplateAdmin/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/TemplateAdmin/js/jquery.cookie.min.js'></script>

    <!-- Endless -->
    <script src="~/TemplateAdmin/js/endless/endless.js"></script>
</body>
</html>


