<img src="@Url.Content("~/images/"+Model.Hinhanh)" alt="User Avatar">
<div class="detail">
    <strong>SHK Shop</strong><span class="badge badge-danger m-left-xs bounceIn animation-delay4"></span>
    <ul class="list-inline">
        <li><a href="">Profile</a></li>
        <li><a href="" class="no-margin">Inbox</a></li>
    </ul>
</div>
